<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WDNavigationItemDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F701911D1EB320C8005D97F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70191361EB320CA005D97F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70191411EB320CA005D97F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
